<section class="w-full flex items-center justify-center">
    <div class="max-w-screen-xl mx-auto px-4 py-20">
        <!-- Titre Centré -->
        <div class="text-center mb-10">
            <h2 class="text-2xl font-bold my-6">Nos Menus</h2>
            <h6 class="font-medium mb-6">Découvrez nos délices du jour et laissez-vous surprendre !</h6>
        </div>

        <!-- Conteneur des Cartes -->
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-6">
            {% for menu in menus %}
                <div class="bg-white shadow-lg rounded-lg flex flex-col  h-60 w-45  overflow-hidden">
                    <!-- Zone de l'image -->
                    <div class="w-full h-48">
                        <img class="w-full h-full object-cover" src="{{ asset('images/menu_images/' ~ menu.picture) }}" alt="{{ menu.title }}" />
                    </div>
                    
                    <!-- Zone de contenu -->
                    <div class="p-6 flex flex-col flex-grow bg-gray-700">
                        <h5 class="text-xl font-bold mb-2 bg-gradient-to-r from-red-400 to-yellow-200 rounded">{{ menu.title }}</h5>
                        <p class="text-white mb-4 flex-grow">{{ menu.description }}</p>
                        <p class="text-lg font-semibold mb-4 bg-gradient-to-r from-purple-400 to-blue-200 rounded">{{ menu.price }} €</p>
                    
                        <!-- Zone du bouton d'action -->
                        <div class="mt-auto ">
                            {% if is_granted('ROLE_CUSTOMER') %}
                                <!-- Utilisateur avec le rôle "Customer" -->
                                <button type="button" class=" w-full text-lg bg-blue-500 text-center text-white px-4 py-2 rounded hover:bg-blue-600">
                                    Commander
                                </button>
                            {% else %}
                                <!-- Utilisateur sans le rôle "Customer" -->
                                <button type="button" class="text-lg w-full bg-blue-500 text-center text-white px-4 py-2 rounded hover:bg-blue-600" onclick="showLoginMessage()">
                                    Commander
                                </button>
                                <script>
                                    function showLoginMessage() {
                                        alert("Vous devez être connecté en tant que client pour passer une commande.");
                                    }
                                </script>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
